@{
    ViewData["Title"] = "Test";
}
@model string
<h3>Emotion test page</h3>
<div class="container">
    <div class="row col-md-2">
        <span class="text-primary">@Model</span>
        <span class="text-primary">@ViewBag.usertext</span>
    </div>
</div>